langchain
langchain-community
langchain-chroma
langchain-openai
trulens
trulens-providers-openai
llmsherpa
pypdf2
chromadb
openai
sentence-transformers
pycryptodome
python-dotenv
tiktoken
Flask
Werkzeug
PyMuPDF
aiofiles
aiohttp